<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}">
    <title>{{ car.brand_name }} {{ car.car_name }}</title>
    <script src="https://kit.fontawesome.com/9762e305c9.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header">
        <h1>{{ car.brand_name }} {{ car.car_name }}</h1>
    </div>
    <div id="wrapper">
    <div id="container">
        <div id="content">
            Will be back once I learn java script (hopefully)
            <br>
            <a href="/">Go back</a>
        </div>
        
        <div id="sidebar">
            Sidebar
        </div>
    </div>
    </div>
    <div id="footer">
        <a href="https://github.com/MayankArambhi" target="_blank"><i class="fa-brands fa-github"></i>/MayankArambhi</a>
    </div>
</body>
</html>