:root {
    /* --bg: rgb(14, 18, 24);
    --secondary-bg: rgba(28, 35, 45, 0.726);
    --more-secondary-bg: rgb(42, 52, 66);
    --content: rgb(225, 232, 240); */
    --border: rgb(65, 105, 145);
    --select: rgba(22, 52, 79, 0.25);
    --headings: arial, "consolas", sans-serif;
    --normal-text: "consolas";
}

body {
    margin: 0;
    background-color: var(--bg);
    color: var(--content);
}

#title {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: var(--headings);
    font-size: 25px;
}

#auth {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.text-box {
    
    /* changes */
    width: 80%;
    height: 38px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 2%;
    box-sizing: border-box;

    padding: 0 5%;

    border: 1px solid var(--border);
    border-radius: 6px;

    background: var(--secondary-bg);
    color: var(--content);

    font-family: var(--normal-text);
    font-size: 15px;

    outline: none;
    transition: background 0.2s, border-color 0.2s;
}

.auth {
    text-decoration: none;
    text-align: center;
    font-family: var(--normal-text);
    color: var(--content);
    height: 50%;
    width: 25%;
    padding: 35px;
    border: 1px solid var(--border);
    border-radius: 5px;
    background: linear-gradient(var(--secondary-bg), var(--more-secondary-bg));
    transition: background 0.5s linear;
}

.auth-sub {
    width: 250px;
    margin-top: 15px;
    border-radius: 3px;
    background-color: var(--border);
    border: 1px solid var(--select);
    border: 0px;
    color: var(--content);
    font-size: 15px;
    width: 100%;
    padding: 7px;
}

.auth-sub:hover {
    background-color: transparent;
    border: 1px solid var(--select);
}

#logout-div {
    border-radius: 6px;
    color: var(--content);
    margin-left: auto;
    margin-top: 0;
}

#logout-div:hover {
    background-color: rgba(255, 0, 0, 0.247);
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    background-color:var(--secondary-bg);
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 5px;
    border-bottom: 2px solid var(--border);
}

#wrapper {
    min-height: 85vh;
}

h1 {
    font-family: var(--headings);
    margin:0;
}

/* SEARCH BAR*/

#search-bar {
    display: flex;
    margin: 18px 10px;
}

#home {
    height: 38px;
    padding: 0 16px;
    margin-right: 10px;

    border: 1px solid var(--border);
    border-radius: 6px;

    background: var(--secondary-bg);
    color: var(--content);

    font-family: var(--headings);
    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
    transition: background 0.2s;
}

.fa-house {
    margin-top: 9px;
}

#search-bar form {
    display: flex;
    /* align-items: center; */
    gap: 8px;
}

#search-text {
    width: 320px;
    height: 38px;
    box-sizing: border-box;

    padding: 0 12px;

    border: 1px solid var(--border);
    border-radius: 6px;

    background: var(--secondary-bg);
    color: var(--content);

    font-family: var(--normal-text);
    font-size: 15px;

    outline: none;
    transition: background 0.2s, border-color 0.2s;
}

#search-text::placeholder {
    color: var(--content);
}

#search-text:focus {
    border-color: var(--select);
}

#search-sub, #logout {
    height: 38px;
    padding: 0 16px;

    border: 1px solid var(--border);
    border-radius: 6px;

    background: var(--secondary-bg);
    color: var(--content);

    font-family: var(--headings);
    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
    transition: background 0.2s;
}

#search-sub:hover, #home:hover {
    background: var(--select);
}

#search-sub:active {
    background: var(--more-secondary-bg);
}

#search-bar div {
    font-family: var(--normal-text);
    margin-top: 5px;
}

#search-goback:hover {
    background: var(--select);
}

#search-result {
    padding: 7px;
}

/* SIDE BAR AND CARDS */

#container {
    display: flex;
    justify-content: flex-start;
    min-height: 60vh;
}

/* SIDE BAR */

#sidebar {
    align-self: flex-start;
    position: sticky;
    top: 58px;
    left: 0;
    margin: 10px;
    border: 1px solid var(--border);
    border-radius: 7px;
    background: var(--secondary-bg);
    font-family: var(--normal-text);
    height: auto;
    width: 230px;
}

form:first-child .sbheading{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top: 0px;
}

.sbheading {
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: var(--more-secondary-bg);
    border: 2px solid var(--border);
}

#sidebar:hover {
    box-shadow: 0px 0px 7px var(--border);
}

#sidebar button {
    border-radius: 3px;
    background-color: transparent;
    border: 0px;
    color: var(--content);
    text-align: left;
    font-size: 15px;
    width: 100%;
    padding: 7px;
}
#sidebar button:hover {
    background: var(--select);
}

#sidebar div {
    padding: 5px;
}

/* CARDS */

#content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 30px;
}

#content p {
    font-family: var(--normal-text);
    font-size: 20px;
    margin-top: 200px;
    margin-left: auto; 
    margin-right: auto; 
}

.card {
    text-decoration: none;
    color: var(--content);
    min-height: 250px;
    width: 230px;
    border: 1px solid var(--border);
    border-radius: 5px;
    background: linear-gradient(var(--secondary-bg), var(--more-secondary-bg));
    transition: background 0.5s linear;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: underline dotted;
}

.card:hover {
    background: linear-gradient(var(--secondary-bg), var(--select));
    box-shadow: 0px 0px 7px var(--border);
}

.card-text {
    font-family: var(--normal-text);
    font-size: 15px;
    text-decoration: none;
    color: var(--content);
    margin: 5px;
}

.img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--more-secondary-bg);
    border-radius: 5px;
    height: 150px;
    width: 220px;
    overflow: hidden;
}

.img img {
    max-height: 100%;
}

#footer {
    text-align: center;
    border-top: 2px solid var(--border);
    padding: 10px;
    background-color: var(--secondary-bg);
    font-size: 15px;
    font-family: var(--normal-text);
}

#footer a:hover {
    color: black;
}

@media (max-width: 600px) {

    #container {
        flex-direction: column;
    }

    #sidebar {
        position: static;
        width: auto;
        height: auto;
        margin: 10px;
    }

    #content {
        width: auto;
        margin: 10px;
        justify-content: center;
    }

}